<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<!--  이거 버젼 차이 있음 -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- viewport가 무엇인지 알아보기 -->
<title>일별 통계</title>
<link rel="stylesheet"
	href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" />
<link rel="stylesheet" href="../css/gjy_common.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<!-- datepicker 한국어로 -->
<script
	src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/i18n/datepicker-ko.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<!-- numWithCommas 스크립트 파일 -->
<script src="../script/gjy_common.js"></script>
<script th:inline="javascript">

/*<![CDATA[*/
var today = /*[[${today}]]*/;
/*]]>*/

function formatDate(date) {
	let d = new Date(date); 
	month = '' + (d.getMonth() + 1);
	day = '' + d.getDate();
	year = d.getFullYear();
	if (month.length < 2) {
		month = '0' + month; 
	}
	if (day.length < 2) {
		day = '0' + day; 
	}
	return [year, month, day].join('-'); 
}

$(document).ready(function () {
	
	createLoadingBar();
	
	/** 기간 input의 디폴트값을 오늘로 설정
	*/
	$("#endDate").val(today);
	$("#startDate").val(today);
	
	$(function() {
        $("#startDate,#endDate").datepicker({
            maxDate: today // 오늘 이후 선택 불가
        });                           
    });
	
	/** 당일, 7일, 30일, 90일 버튼 클릭 이벤트 구현
	* 버튼을 누르면 오늘을 최종일로, -n일을 시작일로
	*/
	$(document).on("click", "button[name='filterDate']", function () {
	    
		$("#endDate").val(formatDate(new Date()));
		
		let day = $(this).val();
	    let endDate = new Date($("#endDate").val());
	    let startDate = new Date($("#endDate").val());
	    
	    if(day=="0"){
	    	startDate.setDate(endDate.getDate() + 0);

	    	$("#startDate").val(formatDate(startDate));
	    } else if(day=="7"){
	    	startDate.setDate(endDate.getDate() - 7);

	    	$("#startDate").val(formatDate(startDate));
	    } else if(day=="30"){
	    	startDate.setDate(endDate.getDate() - 30);

	    	$("#startDate").val(formatDate(startDate));
	    } else if(day=="90"){
	    	startDate.setDate(endDate.getDate() - 90);

	    	$("#startDate").val(formatDate(startDate));
	    }
	});

	$('#searchBtn').click(function(){ // 조회 버튼

		var startDate = $('#startDate').val();
		var endDate = $('#endDate').val();
		var companyno = $('#companyno').val();
		
		/** 종료일-시작일 날짜 차이 계산
		*/
		let startDateForCalc = new Date(startDate);
		let endDateForCalc = new Date(endDate);
		let timeDiff = endDateForCalc.getTime()-startDateForCalc.getTime();
		let dateDiff = Math.abs(timeDiff/(1000*3600*24)); // getTime은 밀리초 단위로 나타내기 때문에 1000*3600*24로 나눠줌
		
		if(startDate>endDate){ // 시작일이 더 나중일 경우 경고창
			alert("잘못된 기간입니다.")
		} else if(dateDiff>90){ // 기간이 90일이 넘울 경우 경고창
			alert("90일 이내로 입력하십시오.")
		} else {
			
			// 
			$.ajax({
				method: "get",
				url:"/search/result",
				contextType: "application/json",
				dataType: "json",
				data: {
					startDate: startDate,
					endDate: endDate,
					companyno: companyno
				},
				beforeSend: function(){
					$('#back, #loadingBar').css("display", "block");
				},
				success: function(data) {
					
					let tableRow = ''; // 조회 테이블
					let price_sum = 0;
					let discount_sum = 0;
					let total_sum = 0;
					
					tableRow += `<table border="1" cellspacing="0" width="100%" id="resultTable">`;
					tableRow += `<thead align="center">`
					tableRow += `<tr height="40"><td>날짜</td><td>상품금액</td><td>할인금액</td><td>결제금액</td></tr></thead>`
					tableRow += `<tbody align="center">`
					
					if(data.length==0){
						tableRow += `<tr data-index="0" height="40"><td colspan="4">통계데이터가 없습니다.</td></tr>`
					
					} else {
						for(i=0;i<data.length;i++){
							tableRow += `<tr data-index="${i}" height="40">`
							tableRow += `	<td> ${data[i].orderDate}</td>`
							tableRow += `	<td> ${numWithCommas(data[i].price)}원</td>`
							tableRow += `	<td> ${numWithCommas(data[i].discount)}원</td>`
							tableRow += `	<td> ${numWithCommas(data[i].total)}원</td></tr>`
							price_sum += data[i].price;
							discount_sum += data[i].discount;
							total_sum += data[i].total;
						}
						
						tableRow += `<tfoot align="center" height="40"><tr><td>합계</td><td>${numWithCommas(price_sum)}원</td><td>${numWithCommas(discount_sum)}원</td><td>${numWithCommas(total_sum)}원</td></tr>`
					}
								
					$('#resultTable').html(tableRow);
				},
				complete: function() {
					console.log("complete");
					$('#back, #loadingBar').css("display", "none");
				}
			});
		}
});
});
</script>
</head>
<body>
<table id="employeeTable" border="1" cellspacing="0" width="100%">
	<thead>
	</thead>
	<tbody id="searchTable">
		<tr height="50">
			<td align="center" width="100">기간</td>
			<td>
				<input type="text" name="startDate" id="startDate" readonly>
				<span>~</span>
				<input type="text" name="endDate" id="endDate" readonly>
				<button name="filterDate" value="0">당일</button>
				<button name="filterDate" value="7">7일</button>
				<button name="filterDate" value="30">30일</button>
				<button name="filterDate" value="90">90일</button>
			</td>
		</tr>
		<tr height="50">
			<td align="center">제휴사</td>
			<td>
				<select name="companyno" id="companyno">
				<option value="" id="chkBoxEntire">전체</option>
				<option th:text="${list.companynm}" th:each="list:${companyList}" th:value="${list.companyno}"></option>
				</select>
		</tr>
	</tbody>
</table>
<br>
<p align="center"><button id="searchBtn">조회</button></p>
<!-- 결과 테이블이 나올 곳 -->
<div id="resultTable"> 
</div>
</body>
</html>