<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<!--  이거 버젼 차이 있음 -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- viewport가 무엇인지 알아보기 -->
<title>일별 통계</title>
<link rel="stylesheet"
	href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" />
<link rel="stylesheet" href="../css/gjy_common.css">
<link rel="stylesheet" href="../css/gjy_div.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<!-- datepicker 한국어로 -->
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="../script/gjy_common.js"></script>
<script th:inline="javascript">

/*<![CDATA[*/
var modifyList = /*[[${modifyList}]]*/;
/*]]>*/

function initialSiteStatus(){
	if(modifyList[0].siteStatus == "00"){
		$('#siteStatus option:eq(0)').prop("selected", true);
	} else if(modifyList[0].siteStatus == "01"){
		$('#siteStatus option:eq(1)').prop("selected", true);
	} else{
		$('#siteStatus option:eq(2)').prop("selected", true);
	}
}

function initialSiteCalculate(){
	if(modifyList[0].siteCalculate =="Y"){
		$('#siteCalculateY').prop("checked", true);
	} else{
		$('#siteCalculateN').prop("checked", true);
	}
}

$(document).ready(function () {
	
	console.log(modifyList[0].siteId);
	
	initialSiteStatus();
	initialSiteCalculate();
	
	$("#update_confirm_btn").on('click', function(){
		if(!$('[name = siteName]').val().replaceAll(' ', '')){
			$('.modal_wrapper').hide();
			$('[name = siteName]').focus();
			showConfirmModal('necessary_info','필수 항목을 입력하세요.');
			$('#valid_siteName').text("필수 항목을 입력하세요.");
		} else if ($('[name = siteName]').val().length > 30){
			$('.modal_wrapper').hide();
			$('[name = siteName]').focus();
			showConfirmModal('necessary_info','30자 이하로 입력하세요.');
			$('#valid_siteName').text("30자 이하로 입력하세요.");
		} else if(regUrl.test($('[name = siteUrl]').val()) == false){
			$('.modal_wrapper').hide();
			$('[name = siteUrl]').focus();
			showConfirmModal('necessary_info','잘못된 URL 형식입니다.');
			$('#valid_siteUrl').text("잘못된 URL 형식입니다.");
		} else if(!$('[name = siteManagerName]').val().replaceAll(' ', '')){
			$('.modal_wrapper').hide();
			$('[name = siteManagerName]').focus();
			showConfirmModal('necessary_info','필수 항목을 입력하세요.');
			$('#valid_siteManagerName').text("필수 항목을 입력하세요.");
		} else if(regPhone.test($('[name = siteManagerNumber]').val()) == false){
			$('.modal_wrapper').hide();
			$('[name = siteManagerNumber]').focus();
			showConfirmModal('necessary_info','잘못된 연락처 형식입니다.');
			$('#valid_siteManagerNumber').text("잘못된 연락처 형식입니다.");
		} else if(!$('[name = siteManagerEmail]').val().replaceAll(' ', '')){
			$('.modal_wrapper').hide();
			$('[name = siteManagerEmail]').focus();
			showConfirmModal('necessary_info','필수 항목을 입력하세요.');
			$('#valid_siteManagerEmail').text("필수 항목을 입력하세요.");
		} else if(regEmail.test($('[name = siteManagerEmail]').val()) == false ){
			$('.modal_wrapper').hide();
			$('[name = siteManagerEmail]').focus();
			showConfirmModal('necessary_info','잘못된 이메일 형식입니다.');
			$('#valid_siteManagerEmail').text("잘못된 이메일 형식입니다.");
		} else {
			let params = $('[name=modifyForm]').serialize();
			
			$.ajax({
				method: "post",
				url: "/site/modify",
				data: params,
				success: function(data){
					if (data.result === "fail"){
						$('.modal_wrapper').hide();
						$('#'+data.errParam).text(data.errMsg);
						showConfirmModal('necessary_info',data.errMsg);
						
					} else {
						$('.modal_wrapper').hide();
						showConfirmModal('confirm_update','수정되었습니다.');
					}
				},
				complete: function(){
					
				}
			})
		}
	})
	
	$("#delete_confirm_btn").on('click', function(){
		 
		let params = $('[name=modifyForm]').serialize();
		
		$.ajax({
			method: "post",
			url: "/site/delete",
			data: params,
			success: function(data){
				console.log(params);
				// $('#'+data.errParam).text(data.errMsg);
			},
			complete: function(){
				showConfirmModal('confirm_delete','삭제되었습니다.');
			}
		})		
	})
			
});
</script>
</head>
<body>
<form name="modifyForm" method="POST">
<div class="pageTop">
<h3>제휴사 사이트 관리</h3>
</div>
<div class="mainDiv">
<h3>사이트 등록</h3>
<table id="inputTable" cellspacing="0" width="100%">
	<tbody id="modifyBody">
		<tr>
			<td width="25%" align="right" style="color: red">*
				<span style="color: black">제휴사&nbsp&nbsp</span>
			</td>
			<td th:text="${modifyList[0].companynm}"></td>
		</tr>
		<tr>
			<td width="25%" align="right" style="color: red">*
				<label for="siteName" style="color: black">사이트명&nbsp&nbsp</label>
			</td>
			<td>
				<!-- <input name="siteName" th:value="${modifyList[0].siteName}" maxlength="30" style="width: 300px"/>-->
				<input name="siteName" th:value="${modifyList[0].siteName}" maxlength="30" style="width: 300px"/>
				<span id="valid_siteName" th:style="${'color: red; font-size:11px;'}"></span>
				<input type="hidden" name="siteId" th:value="${modifyList[0].siteId}" display="none"/>
			</td>
		</tr>
		<tr>
			<td width="25%" align="right" style="color: red">*
				<span style="color: black">사이트 상태&nbsp&nbsp</span>
			</td>
			<td>
				<select id="siteStatus" name="siteStatus" style="width: 300px">
					<option value="00">정상</option>
					<option value="01">중지</option>
					<option value="02">준비중</option>
				</select>
			</td>
		</tr>
		<tr>
			<td width="25%" align="right" style="color: red">*
				<label for="siteCalculate" style="color: black">정산 여부&nbsp&nbsp</label>
			</td>
			<td>
				<input type="radio" id="siteCalculateY" name="siteCalculate" value="Y" checked="checked">Y
				<input type="radio" id="siteCalculateN" name="siteCalculate" value="N">N
			</td>
		</tr>
		<tr>
			<td width="25%" align="right" style="color: red">*
				<label for="siteUrl" style="color: black">사이트 URL&nbsp&nbsp</label>
			</td>
			<td>
				<input name="siteUrl" th:value="${modifyList[0].siteProtocol}+'://'+${modifyList[0].siteUrlDetail}" style="width: 300px"/>
				<span id="valid_siteUrl" th:style="${'color: red; font-size:11px;'}"></span>
			</td>
		</tr>
		<tr>
			<td width="25%" align="right" style="color: red">*
				<label for="siteManagerName" style="color: black">사이트 담당자&nbsp&nbsp</label>
			</td>
			<td>
				<input name="siteManagerName" th:value="${modifyList[0].siteManagerName}" maxlength="10" style="width: 300px"/>
				<span id="valid_siteManagerName" th:style="${'color: red; font-size:11px;'}"></span>
			</td>
		</tr>
		<tr>
			<td width="25%" align="right" style="color: red">*
				<label for="siteManagerNumber" style="color: black">담당자 연락처&nbsp&nbsp</label>
			</td>
			<td>
				<input type="text" name="siteManagerNumber" th:value="${modifyList[0].siteManagerNumber}" style="width: 300px"/>
				<span id="valid_siteManagerNumber" th:style="${'color: red; font-size:11px;'}"></span>
			</td>
		</tr>
		<tr>
			<td width="25%" align="right" style="color: red">*
				<label for="siteManagerEmail" style="color: black">담당자 이메일&nbsp&nbsp</label>
			</td>
			<td>
				<input type="text" id="siteManagerEmail" name="siteManagerEmail" th:value="${modifyList[0].siteManagerEmail}" style="width: 300px"/>
				<span id="valid_siteManagerEmail" th:style="${'color: red; font-size:11px;'}"></span>
			</td>
		</tr>
	</tbody>
</table>
</div>
<div class="btnDiv" style="text-align: center">
<input type="button" id="registerBtn" class="type1Btn" onclick="showConfirmModal('update', '수정하시겠습니까?');" value="수정">
<input type="button" id="deleteBtn" class="type2Btn" onclick="showConfirmModal('delete', '삭제하시겠습니까?');" value="삭제">
</div>
</form>
<!-- 수정 -->
<div class="modal_wrapper" id="update">
	<div class="modal_confirm_content">
		<div class="modal_msg">
		</div>
		<div class="modal_btn">
			<input type="button" class="type2Btn" id="close_btn" onclick="$('.modal_wrapper').hide();" value="취소">
			<input type="button" class="type1Btn" id="update_confirm_btn" value="확인">
		</div>
	</div>
</div>
<!-- 수정 확인 -->
<div class="modal_wrapper" id="confirm_update">
	<div class="modal_confirm_content">
		<div class="modal_msg">
		</div>
		<div class="modal_btn">
			<button type="button" class="type1Btn" onclick="location = './list';">확인</button>
		</div>
	</div>
</div>
<!-- 삭제 -->
<div class="modal_wrapper" id="delete">
	<div class="modal_confirm_content">
		<div class="modal_msg">
		</div>
		<div class="modal_btn">
			<input type="button" class="type2Btn" id="close_btn" onclick="$('.modal_wrapper').hide();" value="취소">
			<input type="button" class="type1Btn" id="delete_confirm_btn" value="확인">
		</div>
	</div>
</div>
<!-- 삭제 확인 -->
<div class="modal_wrapper" id="confirm_delete">
	<div class="modal_confirm_content">
		<div class="modal_msg">
		</div>
		<div class="modal_btn">
			<button type="button" class="type1Btn" onclick="location = './list';">확인</button>
		</div>
	</div>
</div>
<!-- 필수 입력 확인 -->
<div class="modal_wrapper" id="necessary_info">
	<div class="modal_confirm_content">
		<div class="modal_msg">
		</div>
		<div class="modal_btn">
			<button type="button" class="type1Btn" onclick="$('.modal_wrapper').hide();">확인</button>
		</div>
	</div>
</div>
</body>
</html>